*{
    padding: 5;
    margin: 0;
}
html
{
    font-size: 100%;
}
@font-face{
    font-family: 'Reey';
    src: url('Reey-Regular.otf') format('opentype');

}
@font-face{
    font-family: 'AbrilFatface';
    src: url('AbrilFatface-Regular.otf') format('opentype');
}
body
{
    font: 100%/1.5 Verdana, Arial, Helvetica, sans-serif;
    background-image: url("background.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: black;
}
table
{
    border-collapse: collapse;
}
th, td {
    border: 1px solid #c9c9c9;
    font-size: 1.1em;
    padding: 4px 4px;
}
button{
    font-family: 'AbrilFatface', sans-serif;
    width: 180px;
    background-color:rgb(104, 72, 36);
    background-image: url(purty-wood.png);
    color: black;
    font-size:large;
    border-color: rgb(56, 35, 18);
    border-radius: 5px;

}
button a{
    color: rgb(216, 198, 178);
    text-decoration: none;
}
h1{
    font-family: 'Reey', sans-serif;
    margin: 50px;
    font-size:50px;
}